<ion-view class="auth-bg">
	<ion-content>    	

		
		  <img src="img/logo_branco.png" width="40%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
		   <h4 style="color:#FFF;"  align="center">2ª Igreja Batista de Alto Caparaó </h4>

		<div class="footer-buttons">
			<div class="padding">
				<button ng-click="openLogin()" class="button button-block button-positive"><strong>LOGIN</strong></button>
				<button ng-click="openSignup()" class="button button-block button-calm"><strong>CADASTRAR</strong></button>
			</div>
		</div>
	</ion-content>
</ion-view>